/* Set Language */
@charset "UTF-8";

/* Set the Display as Blocks  */
article, aside, footer, header, main, nav, section {
	display: block;
}

/* Set Font */
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, a, article, aside, footer, div, header, main, nav, section, dl, dt, dd {
	font-family: Georgia;
}

/* Fit entire page to browser height and width */
body, html {
  height: 100%;
  width: 100%;
}

/* Set Background Image */
body {
	background-image: url("background.png");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* Make Item Reach the Full Width */
.full_width {
	width: 100%;
}

/* Make Item Reach the Full Height */
.fullHeight {
	height: 100%;
}

/* Set the Text Color to White */
.white_text {
	color: white;
}

/* Stay 1px away from the top */
.top_one_margin {
	margin-top: 1px;
}

/* The Main Jumbotrons */
.big_jumbotron {
	background-color: rgba(2, 0, 35, 0.25);
	text-align: center;
	margin-bottom: 0;
}

/* Make the Font Size 14px */
.fourteen_text {
	font-size: 14px;
}

/* Set Text Color of Footer */
.footer_link {
	color: rgb(206, 115, 187);
}

/* Set Text Color of Footer on Hover */
.footer_link:hover {
	color: rgb(79, 143, 217);
}

.black_text {
	color: black;
}

.list_img {
	opacity: 1;
}

.list_img:hover {
	opacity: 0.6;
}

.small_bg {
	background-color: rgba(2, 0, 35, 0.5);
}

#subject_carousel {
	display: grid;
	justify-content: center;
	align-content: center;
}

/* The Small Blue Box at the Right-Bottom Corner on Each Page */
footer {
	height: 3%;
	padding-left: 0.5%;
	padding-right: 2%;
	padding-bottom: 0.1%;
	background-attachment: scroll;
	background-position: 0% 100%;
	position: fixed;
	bottom: 0pt;
	right: 0pt;
	opacity: 0.7;
	background-color: rgb(2, 0, 35);
	-moz-border-radius: 0.5%;
	-webkit-border-radius: 0.5%;
	border-radius: 0.5%;
}

/* Make the Footer (Small Blue Box) Look Regular When Hovered Over - Not Transparent */
footer:hover {
	opacity: 1;
	height: 12.5%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}